name: C/C++ CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Download SDL2
      run: |
        Invoke-WebRequest -Uri "https://github.com/libsdl-org/SDL/releases/download/release-2.28.5/SDL2-devel-2.28.5-VC.zip" -OutFile "SDL2.zip"
        Expand-Archive -Path SDL2.zip -DestinationPath C:\SDL2
        
    - name: Build
      run: |
        cmake . -DSDL2_DIR=C:\SDL2\SDL2-2.28.5
        cmake --build .
        
    - name: Run tests
      run: ctest || true
