name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: windows-latest   

    steps:
    - uses: actions/checkout@v4

    - name: Install SDL2
      run: choco install sdl2 --pre -y

    - name: Build
      run: cmake . && cmake --build .

    - name: Run tests
      run: ctest || true
